html {
  position: relative;
  min-height: 100%;
}

html, body, #wrapper {
  // /*height: 100%;*/
  // min-height: 100%;
}

body > #wrapper {
  /*height: auto; min-height: 100%; */
}

body {
  /*min-width: 960px;*/
  font:Georgia, "Times New Roman", Times, serif;
  font-size:11px;
  color:#667E72;
  // overflow: hidden;
}

#wrapper {
  // height: 100% !important;
  margin-bottom: 30px;
}

#maincontent {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
}

#content{
  height: 100%;
}


/* must be same height as the footer */
#content, #maincontent {
  /*overflow: auto;*/
/*  padding-bottom: 150px;
  background: transparent;
  margin-bottom: 0px !important*/

}

#header {
  // height: 119px;
}
#footer {
    /* negative value of footer height */
/*    margin-left: auto;
    margin-right: auto;*/
    /*margin: 0 auto;*/
    height: 30px;
    /*clear: both;*/
    background-color:#A01517;
    /*z-index:-1;*/
    // padding-bottom: 0px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*overflow-x: hidden !important;*/
}

#footer .smart_logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); /* for iphone */
}


#bottom_selection {
  // margin-bottom: 200px;
  margin-right: -17px;
  overflow-y: hidden;
}

#stoppage_table {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  // min-height: 100%;
  // padding-bottom: 200px;  /* doesnt work on Firefox! */
}

@media (min-width: 768px) {
  .header_right{
    padding-top:50px;
  }
}

@media (max-width: 992px) {
  /*  .header_right{
    padding-top:50px;
  }*/

  #footer{
    height: 30px;
  }

  #wrapper{
    margin-bottom: 30px;
  }

}

@media (max-width: 500px) {
  body {
    min-width:320px;
  }
}


#mapa {
  height: 400px;
}

#map_container {
  overflow: auto;
}

.nearby_title,
.nearby_item {
  display:block;
}
.nearby_title {
  font-weight: bold
}

.nearby_marker:hover {
  cursor: context-menu;
  color: white;
}

.nearby_marker {
  display: inline;
  /*border: 1px solid #333;*/
  padding: 3px;
  border-radius: 5px;
  background: #A01517;
  color: white;
  opacity: 0.5;
}



.radio-inline+.radio-inline {
    margin-left: 0;
}

.radio-inline {
    margin-right: 10px;
}

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px; /* thank you Erik J */
}

a {
  //color: #667E72;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
  border-bottom: 1px solid #667E72;
}

a.image_link {
  text-decoration: none;
  border-bottom: none;
}

a.image_link:active {
  text-decoration: none;
  border-bottom: none;
}

.people_holder {
  overflow: hidden;
  height: 119px;
}

img#people {
  position: relative;
  top: -34px;
  width: 90px;
}


h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

.wait_indicator {
  display: inline-block;
  float: right;
  margin-right: 15px;
  z-index:99999;
  margin-top: 15px;
  display: none;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

a.button, #surveyor input[type="submit"]{
  font-family: Georgia, sans-serif;
  float:right;
  display:inline-block;
  width:auto;
  height:auto;
  padding:8px;
  // margin-top:15px;
  margin-left:5px;
  margin-right:15px;
  text-align:center;
  text-decoration:none;
  color:#FFF!important;
  font-size:12px;
  font-style:italic;
  background-color:#58585A;
  -moz-box-shadow: 2px 2px 2px #333;
  -webkit-box-shadow: 2px 2px 2px #333;
  box-shadow: 2px 2px 2px #333;
  border-radius: 1px 1px 1px 1px;
}

a.button:hover, #surveyor input[type="submit"]:hover{
  background-color:#B2B3B3;
  text-decoration:none;
}

.stripes{
  padding-left:40px;
  border-bottom: 1px dashed #667E72;
}


/* =Group of menus
-----------------------------------------------------------------------------*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    /*font-size: 16px;*/
    background: #eee;
  }
}

.menus{
  height:auto;
}

/* =Main menu
-----------------------------------------------------------------------------*/
.menu_main ul{
  list-style-type: none;
  font-family:Verdana, Geneva, sans-serif;
  font-size:11px;
}

.menu_main ul li{
  float:right; /* isto é o que obriga a ficar horizontal*/
  margin-left:10px;/*espaço entre o texto*/
  margin: 0 0 0 10px !important;
}

.menu_main ul li a{
  display: block; /* e isto tambem*/
  /*padding: 0 0.5em;*/
  text-decoration:none;
  color:#667E72;
}

.menu_main ul li a:hover, a:active {
  border-bottom: 1px solid #667E72;
}

.menu_main ul li a.current {
  border-bottom: 1px solid #667E72;
}


/* =Menu User
-----------------------------------------------------------------------------*/
.menus .menu_user{
  /*width:100%;*/
  /*height:25px;*/
}

/* =Menu User (2)
-----------------------------------------------------------------------------*/
.menu_user2 ul{
  list-style-type: none;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  color:#A01517;
}

.menu_user2 ul li{
  float:right; /* isto é o que obriga a ficar horizontal*/
  /*margin-left:10px;espaço entre o texto*/
  margin: 0 0 0 10px;
   /*!important;*/
}

.menu_user2 ul li a{
  display: block; /* e isto tambem*/
  /*padding: 0 0.5em;*/
  text-decoration:none;
  color:#A01517;
}

.menu_user2 ul li a:hover, a:active {
  border-bottom: 1px solid #A01517;
}


/* =Main menu (without user menu)
-----------------------------------------------------------------------------*/
.mainmenu1 ul{
  width:400px; /* para ficar horizontal*/
  list-style-type: none;
  /*letter-spacing:0.09em;*/
  /*padding-top:75px;*/
  padding-left:0px;
  padding-right:0px;
}

.mainmenu1 ul li{
  float:left;/* isto é o que obriga a ficar horizontal*/
  /*line-height: 2.1em;*/
  margin-left:15px;/*espaço entre o texto*/
}

.mainmenu1 ul li a{
  display: block; /* e isto tambem*/
  text-decoration:none;
  /*color:#667E72;*/
  padding-left:0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  /*text-shadow: #CCC 0.01em 0.01em 0.01em;*/
}

.mainmenu1 ul li a:hover{
  /*text-decoration:underline;*/
  /*border-bottom: 1px solid #FFF;*/
  /*display: inline;*/
  /*height:25px;*/
  /*text-decoration:underline;*/
  /*border-bottom:1px solid #667E72 ;*/
}

/* =Main menu (with the user menu)
-----------------------------------------------------------------------------*/
.mainmenu2 ul{
  width:400px; /* para ficar horizontal*/
  list-style-type: none;
  /*letter-spacing:0.09em;*/
  /*padding-top:75px;*/
  /*padding-top:25px;*/
  padding-left:0px;
  padding-right:0px;

}

.mainmenu2 ul li{
  float:left;/* isto é o que obriga a ficar horizontal*/
  /*line-height: 2.1em;*/
  margin-left:15px;/*espaço entre o texto*/
}

.mainmenu2 ul li a{
  display: block; /* e isto tambem*/
  text-decoration:none;
  color:#667E72;
  padding-left:0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  text-shadow: #CCC 0.01em 0.01em 0.01em;

}

.mainmenu2 ul li a:hover{
  /*text-decoration:underline;*/
  /*border-bottom: 1px solid #FFF;*/
  /*display: inline;*/
  /*height:25px;*/
  /*text-decoration:underline;*/
  border-bottom:1px solid #667E72 ;
}


/* =User menu
-----------------------------------------------------------------------------*/
.usermenu ul{
  width:155px; /* to make it horizontal*/
  list-style-type: none;
  padding-top:50px;
  color:#A01517;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  /*background-color:#00F;*/
}

.usermenu ul li{
  float:left;/* isto é o que obriga a ficar horizontal*/
  /*line-height: 2.1em;*/
  margin-left:5px;/*espaço entre o texto*/
  background-color:#CCC;
  margin:2px;
  padding:2px;
}

.usermenu ul li a{
  display: block; /* e isto tambem*/
  text-decoration:none;
  color:#A01517;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
}

.usermenu ul li a:hover{
  border-bottom:1px solid #A01517 ;
}

/*= Time Zone Selection Panel
-----------------------------------------------------------------------------*/
.time_zone_panel {
  position: absolute;
  width: 250px;
  top: 30px;
  left: -110px;
  // height: 156px;
  border-radius: 5px;
  background: #CC6666;
  padding: 10px;
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box; /* konqueror */
  -moz-box-sizing: border-box; /* firefox */
  -ms-box-sizing: border-box; /* ie */
  box-sizing: border-box; /* css3 */
  color: white;
  visibility:hidden;
  opacity:0;
/*  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -ms-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;*/
}

.time_zone_panel.hide {

}

/*.time_zone_panel:hover,
.time_zone_panel_container .time_zone_globe:hover + .time_zone_panel {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}*/

.time_zone_panel_container {
  position: relative;
}

.time_zone_globe {
  width: 16px;
  height: 16px;
  background: url('/assets/smart/world.png');
  background-size: 16px 16px;
}

.time_zone_globe:hover {
  background-image: url('/assets/smart/world-over.png');
}

.time_zone_globe:active {
  background-image: url('/assets/smart/world-hit.png');
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #CC6666;
  margin-top:-20px;
  margin-left: 99px;
}

.time_zone_panel {
  text-align: center;
}

.time_zone_panel form select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 14px !important;
  height: 35px;
  width: 100%;
  margin-right: auto;
  /*margin-bottom: 15px;
  padding: 0px 10px 0px 10px;*/
  color: #333;
  line-height: normal;
  padding:3px;
  /*
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -ms-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  */
  font-family: Georgia, "Times New Roman", Times, serif;
}


.time_zone_panel h2 {
  margin-bottom: 10px;
  font-size: 15px;
}

/* =Horizontal radio button
-----------------------------------------------------------------------------*/
#li_1 label.choice {
  display:inline;
  position:relative;
  margin-left: 0.2em;
  _top:0.2em;
}

#li_1 input.radio {
  display: inline;
  margin-left: 0.5em;
}


/*PATCH RUI BALTAZAR*/

.dim {
  background-color: #000;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  /* top: 0; */
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  line-height: 100%;
}

.dim p{
  color: white;
  text-align: center;
}

.dim .button{
  top: 55%;
  position: absolute;
}

#stop_overlay {
  // display: table;
}

.inner_container.overlay_message {
  margin: 0;
  text-align: center;
  clear: both;
  padding: 15px;
  // margin-top: 15px;
  // display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%); // needed for safari
}

.inner_container.overlay_message p {
  line-height: 1.4em;
}

.inner_container.overlay_message .btn {
  float: none;
  margin-top: 10px;
  margin-right: 10px;
}

.inner_container.overlay_message .btn:last-child
{
  margin-right: 0px;
}

.overlay_message.fixed {
  position: fixed;
}

.support {

  -moz-box-shadow:inset 0px 0px 4px -4px #f29c93;
  -webkit-box-shadow:inset 0px 0px 4px -4px #f29c93;
  box-shadow:inset 0px 0px 4px -4px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:2px solid #d83526;
  display:inline-block;
  color:#ffffff;
  padding:5px 24px;
  text-decoration:none;
  text-shadow:1px 0px 4px #b23e35;

  -moz-transform: rotate(270deg);  /* FF3.5+ */
  -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */

  font-size: 15px;
  line-height: 16px;
  font-family: Helvetica;
  text-align: center;
  z-index: 2147483643;
  position: fixed;
  top: 50%;
  left: -2px;
}

.support:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}

.support:active {
  font-size: 13px;
  line-height: 16px;
  font-family: Helvetica;
  text-align: center;
  z-index: 2147483643;
  position: fixed;
  top: 50%;
  left: 0px;
}

.information_highlight{
  background-color: #E6E6E6;
  text-align: center;
  color: #596D60;
}

.information{
  background-color: #F5F5F5;
  text-align: center;
  color: #C2CBC7;
}

p {
  /*border: 1px solid #666;*/
  overflow: hidden;
  padding: 1px;
  text-align:left;
  font-family: Georgia,"Times New Roman",Times,serif;
  /*font-size: 13px;*/
}

p.information_highlight{
  font-size:15px;
  margin:0px;
  padding:0px;
  padding-left:4px;
  padding-top:10px;
  padding-bottom:10px;
  line-height: 15px;
}

p.information{
  font-size:15px;
  margin:0px;
  padding:0px;
  padding-left:4px;
  padding-top:10px;
  padding-bottom:10px;
  line-height: 15px;
}




#guidelines{
    width:95%;
  /*height:8px;*/
  height:auto;
  margin-top:5px;
  margin-bottom:5px;
  padding:14px;
}

#new_guidelines{
    width:95%;
  height:auto;
  margin-top:5px;
  margin-bottom:5px;
}

/* STYLING SURVEY TABLES */

#surveyor th {
  /*text-align: center;*/
}

li.choice {
  /*text-align: center;*/
}

.odd{
  /*background-color: #B42C2F;*/
  background-color: #EEEEEE;
  align: center;
}

.even{
  /*background-color: #A9A9A9;*/
  background-color: #E5E5E5;
  text-align: center;
}

/* */

#act_table_cell{
  padding: 0px 1px 0px 1px;
  text-align: center;
}

#table_cell{
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.map_pointer{
  margin-left: 5px;
  background-color: #9F1D21;
  padding: 5px 7px 5px 7px;
  font-size: 14px;
  color: white;
}

.gmnoprint img {
  max-width: none;
  max-height: none;
}

.gm-style img {
  max-width: none !important;
  max-height: none !important;
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: none !important;
}

#contact_map{
  padding-bottom:15px;
  height:245px;
}

#frequent_places_map{
  height:400px;
}

#frequent_places_table{
  height: 400px;
  overflow-y: scroll;
}

/* MAP LEGEND */

#map_legend {
  background: #FFF;
  padding: 5px;
  margin: 2px;
  font-size: 10px;
  font-family: Arial, sans-serif;
}

#dash_line{
  border-top: 3px dotted #881117;
  margin-top: 5px;
  width: 25px;
  float: left;
}

#full_line{
  border-top: 3px solid #881117;
  margin-top: 5px;
  width: 25px;
  float: left;
}

#map_legend p {
  color: #596D60;
}

#map_legend div {
  padding-bottom: 5px;
}

/* END OF MAP LEGENG */

.moldura{
  border: 1px dotted #666;
  padding:15px;
  margin:2px;
  margin-bottom:15px;
}

#home .home, #contacts .contacts, #aboutmove .aboutmove , #reportmove .reportmove,  #energy .energy, #supportmove .supportmove, #surveymove .surveymove, #newuser .newuser, #faq .faq a{
  background:#999;
  height:25px;
  cursor: default;
}

#reportmove #ui-timepicker-div {
    margin-top:5px !important;
  margin-bottom:12px !important;
  padding:1px !important;
    font-size: 10px !important;
}

#reportmove #ui-datepicker-div {
    font-size: 11px !important;
}

input.button{
  font-family: Georgia, sans-serif;
  float:right;
  display:inline-block;
  width:auto;
  height:auto;
  padding:8px;
  margin-top:15px;
  margin-left:5px;
  margin-right:15px;
  text-align:center;
  text-decoration:none;
  color:#FFF!important;
  font-size:12px;
  font-style:italic;
  background-color:#58585A;
  border-radius: 1px 1px 1px 1px;

  background-color: #58585A;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-width: 0px;
  cursor: pointer;
}

input.button:hover{
  background-color:#B2B3B3;
  text-decoration:none;
}

a.table_button{
  float:right;
  display:inline-block;
  padding:6px;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  text-align:center;
  text-decoration:none;
  color:#797979!important;
  font-size:12px;
  background-color:#E6E6E6;
  border-radius: 1px 1px 1px 1px;
}

a.table_button_even{
  float:right;
  display:inline-block;
  padding:6px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  text-align:center;
  text-decoration:none;
  color:#797979!important;
  font-size:12px;
  background-color:#E6E6E6;
  border-radius: 1px 1px 1px 1px;
}

a.table_button_odd{
  float:right;
  display:inline-block;
  padding:6px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  text-align:center;
  text-decoration:none;
  color:#B42C2F!important;
  font-size:12px;
  background-color:#EAC8C8;
  border-radius: 1px 1px 1px 1px;
}

a.table_button:hover{
  background-color:#B2B3B3;
  text-decoration:none;
}

a.actPicker-text{
  color: white;
}

label.actPicker-text{
  color: white;
}

#previous, #next{
  background-color: #A9A9A9;
}

#validating_header{
  background-color: #B42C2F;
}

#validating_content{
  /*background-color: #F9EEED;*/
}

#activity_name_{
  color: #E5E5E5;
}

a.stop_nav{
  width: 100px;
}

.markerlabels {
  color: white;
  background-color: #333;
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
  width: 18px;
  text-align: center;
  /*-moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;*/
  border-radius: 13px 13px 13px 13px;
}

textarea {
  resize:none;
}

.MapLocation {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  padding-top:50px;
}

.grid_1 {
  /*border: 1px solid red;*/
}

.timepicker_container {
  text-align: center;
}
.timepicker_container select {
  /*display: inline !important;*/
}

.start_time_cell{
  float: left;
  text-align: center;
}

.end_time_cell {
  float: right;
  text-align: center;
}



.space_time_continuum_exception {
  /*border-left: 3px solid red;*/
  /*background: url('../images/stripes.png') !important;*/
}

.tutorial_highlight_row {
  border: 2px solid #A01517;
}

.start_time_text,
.end_time_text {
  /*font-size: 1.2em;*/
  line-height: 12px;
  vertical-align: middle;
  text-align: right;
  padding-right: 12px;
}

.start_time_text td {
  padding-bottom: 4px;
}

.end_time_text td {
  padding-top: 4px;
}

.activity-row-mode p,
.activity-row-activity p
{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}


.start_time_text td:first-child,
.end_time_text td:first-child {
  font-weight: bold;
  font-size: 8pt;
  padding-left: 4px;
}

.stop_time {
  border-bottom: 1px solid #555;
  border-top: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 5px;
  /*background: #444;*/
}

.start_time_label,
.end_time_label,
.end_time_cell,
.start_time_cell {
  color: #000;
  font-family: Verdana;
}

.timepicker_day {
  font-size: 12px;
}

.day_flag_minus,
.day_flag_cur,
.day_flag_plus {
  width: 6px;
  height:12px;
  display: inline-block;
  *display: inline;
  vertical-align: 10px;
  *vertical-align: auto;
  font-size: 9px;
  border-radius: 3px;
  position: absolute;
/*  margin-left: 39px;
  margin-top: -10px;*/
}

.day_flag_minus { /*background: red;*/ }
.day_flag_minus:after { content: "* "; }

.day_flag_cur {
  /*background: white;*/
}

.stop_activity {
  margin-top: 0;
  text-align: left;
  width: 115px;
  position: absolute;
}
.time_capsule {
  /*text-align: right;*/
  /*padding-right: 12px;*/
}

.day_flag_plus{ /*background: green;*/ }


.day_flag_plus:after{content: "** ";}

.small_space {
  padding:0;
  height: 5px;
}

.invalid_button,
.change_time_button {
  display:none;
}

.invalid_button .button,
.change_time_button .button{
  float: none !important;
}

.invalid_button .button:hover,
.change_time_button .button:hover {
  border-bottom: 0 !important;
}

.change_time_button .button {
  box-shadow: none;
}

.invalid_button .button {
  background-color: #a3a3a3;
  box-shadow: none;
}


/*** ***************************
NOTICES
**/

.notice_info {
  font-size: 16px !important;

  color:#FFF;
  background-color:#690;
  text-align:left;
  margin: 1px 1px 1px 1px;
  padding: 3px 3px 3px 3px;
  font-style:italic;

  text-align:center;
}

.floating_notice {

  z-index: 9999;
}

.activities_wb {
  float: left;
  width: 200px;
}

.activities_wb p{
  display: inline;
  color: white;
}

.stop_info {
  display: inline-block;
}


.close_button_container {
  /*text-align: center*/
}

.save_button {
  /*float: none !important;
  border-radius: 5px 5px 0px 0px !important;
  border-bottom: 1px solid #555 !important;
  font-family: Verdana !important;
  font-style: normal !important;
  letter-spacing: 2px;*/
  /*margin-right: 10px;*/
  margin-bottom: 10px;
  /*margin-left: 0px !important;
  margin-right: 0px !important;*/
}

/*************************/




.main_activity_table {
  min-height: 27px;
  display: block;
}

.AccordionContent .save_button.disabled{
  background: #393939;
  color: #444 !important;
}

.AccordionContent a.save_button.disabled:hover {
  text-decoration: none;
  border-bottom: 0px;
}

/************************************/
/*      FAQS          */
/************************************/

#faqs_menu ul li{
  list-style: none;
  margin-left: 0;
}
#faqs_menu li {
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 15px;
}

#faqs_menu li a  {
  padding: 5px 10px 5px 10px;
  display: block;
  line-height: 18px;

  letter-spacing:1px;
}

#faqs_menu li a:hover {
  text-decoration: none;
  border: 0px;
  background: #faf2f2 url('../../assets/smart/arrow_bg.png') no-repeat center right;
}

#faqs_menu li a.current {
  background:#A01517 url('../../assets/smart/arrow_bg.png') no-repeat center right;
  color: white;
}

.faq_content .content_1{
}

/**********************************/
/*      MAP SCROLLER      */
/**********************************/

#top_selection {
  position: relative;
}
#moving_part {
  /*position: absolute;*/
  /*height: 50px;*/
  top: 0;
  z-index:5;
  padding: 0px;
}

#moving_part.fixed {
  position: fixed;
}

#StoppageTableTileBar_Wrapper {
  height: 46px;
}

#StoppageTableTileBar {
  border-bottom: 1px solid #333;

}

#StoppageTableTileBar.fixed {
  position: fixed;
  width: 445px;
  top: 43px;
}

#StoppageTableTileBar.fixed2 {
  position: fixed;
  width: 445px;
  top: 0px;
}


.shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
     -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
          box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
}




/**********************************/
/*      Tutorial          */
/**********************************/

#tutorial {
  /*border: 1px solid #d4d4d4;*/
  padding-bottom: 5px;
  min-height: 345px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#tutorial h1,
#tutorial h2,
#tutorial h5 {
  color: white;
  text-align: center;
}



#tutorial li {
  font-size: 14px;
}


#tutorial .tutorial_steps {
  padding: 5px;
}

#tutorial .tutorial_steps .title_2 {
  text-align:  center;
}

#tutorial .breadcrumbs_holder {
  height: 26px;
  line-height: 26px;
  font-size: 15px;
  border: 1px solid #d4d4d4;
}

.breadcrumbs_holder table {
  width: 100%;
  margin-left: 0px;
}

.breadcrumb a {
  margin: 0 0 0 15px;
}

#breadcrumb_step_2_iphone a,
#breadcrumb_step_3_iphone a,
#breadcrumb_step_4_iphone a,
#breadcrumb_step_5_iphone a{
  margin: 0 0 0 10px;
}


.breadcrumbs_holder .breadcrumb {
  background: white;/* url('../../assets/smart/breadcrumb_bg.png') no-repeat top right;*/
}

.breadcrumb.step_done {
  background: #f4f4f4 url('../../assets/smart/breadcrumb_bg.png') no-repeat 100%  -42px;
}

.breadcrumb.before_current {
  background: #f4f4f4 url('../../assets/smart/breadcrumb_bg.png') no-repeat 100%  -78px;
}

.breadcrumb.current_step {
  background: #A01517 url('../../assets/smart/breadcrumb_bg.png') no-repeat 100%  -6px;
}

.breadcrumb.current_step.final_step{
  background-image: none;
  margin-right: 0;
}

.breadcrumb.current_step a:link {
  color: white;
}

.breadcrumb.current_step a:hover {
  border-bottom: 1px solid white;
}

#tutorial .img_container {
  text-align: center
}

.small {
  font-size: 1em !important;
}

.italic{
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.inline_boxes li{
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.inline_boxes li.noborder {
  border: 0px;
  padding: 0px;
  text-align: center;
}

.or_box {
  font-size: 1.5em !important;
}


span.zoomicon {
  background: url('../../assets/zoom.png') no-repeat top left;
  width: 18px;
  height: 18px;
  margin-bottom: -5px;
  display: inline-block;
}

#floatingHud {
  position: absolute;
  display: none;
  width: 150px;
  border: 1px solid #A01517;
  background: white;
  color: #A01517;
  font-family: Verdana, Arial, sans-serif;
  text-align:  justify;
}


.input_error {
  border: 3px solid #A01517;
  background: #f6c6c6;
}

.first_block,
.control_holder {
  /*height: 43px;*/
  /*line-height: 43px;*/

  font-family: Verdana, Arial, sans-serif;
  color: #000;
  font-size:12px;
}

.first_block a:hover,
.control_holder {
  text-decoration: none;
  border: 0;
}

.control_holder {
  text-align: left;
}


.first_block {
  background-color: #E6E6E6;
}

.second_block {
    /*background-color: #fff;*/
    /*border:1px solid #E6E6E6;
    box-sizing: border-box;*/
}

.btnAdd,
.btnCancel,
.btnUndo,
.btnRedo {
  margin: 0  5px 0;
  min-width: 70px;
}

.btnRedo {
  margin-right: 10px;
}

.control_holder .btnAdd,
.control_holder .btnUndo,
.control_holder .btnRedo {
  vertical-align: middle;
}


.address_autocomplete {
  /*margin-bottom: 15px;*/
  padding: 0 10px 0 10px;
  width: 80%;
  margin-left: 15px;
  vertical-align: middle;
  height: 29px;
  /*margin-top: 15px;*/
}

.pac-container, .pac-item {
  width: inherit !important;
}

.pac-container {
  z-index: 10000 !important;
}

/*******************************
Login Page
********************************/

.login_section h1,
.register_section h1 {
  color:#A01517;
  font-weight:bold;
  font-size: 20px;
}

.form_user h2 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 0px;
}

.form_user h2 + .h2_small {
  font-size: 1em;
  margin-bottom: 15px;
  display: block;
}

.form_user .hide {
  display: none;
}

.form_user select,
.form_user input[type="text"],
.form_user input[type="password"],
.form_user input[type="email"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 12px !important;
  height: 35px;
  /*width: 300px;*/

  float: left;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  color: #333;

  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -ms-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form_user label {
  float: left;
  min-width: 75px;
  text-align: left;
  font-size: 15px;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: 10px;
  display: inline;
}

.register_form label {
  min-width: 125px;
}

.form_user .form-group {
  clear: both;
}

.form_user .form-group .error {
  color: #A01517;
  padding-left: 15px;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form_user select,
.form_user label.hide + input[type="email"],
.form_user label.hide + input[type="text"],
.form_user label.hide + input[type="password"] {
  /*width: 360px;*/
}

.login_section,
.register_section{
  text-align: center;
}

.bigbutton{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display:inline-block;
  width:auto;
  height:auto;
  padding:8px;
  margin-top:0px;
  margin-left:0px;
  margin-right:15px;
  margin-bottom: 15px;
  text-align:center;
  text-decoration:none;
  color:#FFF!important;
  font-size:13px;
  font-style:italic;
  background-color:#58585A;
  border-radius: 2px;
  border: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #58585A;
}

.bigbutton:hover{
  background-color:#B2B3B3;
  text-decoration:none;
}

.register_section {
  background: #f4f4f4 url('../../assets/bg.png') no-repeat bottom center;
  border-radius: 5px;
  height: 213px;
  position: relative;
}


.login_section {
  border-radius: 5px;
  height: 213px;
  position: relative;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}




/******************************
    Question Editor
******************************/

#editor_wrapper {
  font-family: Verdana, Arial, sans-serif;
  color: #52443F;
}

#editor_wrapper li {
  color: #52443F;
}

#editor_wrapper .page_separator {
  background: #333745;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}


.question_entry {
  margin-bottom: 5px;
}

.question_entry {
}

.question_number {
  font-weight:bold;
  margin-right: 10px;
}

.question_title {
  background: #5A7844;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.answers_title {
  font-weight: bold;
}

.add_answer {
  width: 15px;
  height: 15px;
  background: green;
  cursor: hand;
}

.del_answer {
  width:15px;
  height: 15px;
  background: red;
}

.add_answer:hover,
.del_answer:hover {
  cursor: pointer;
}

.control-narrow {
  padding-left: 0px;
  padding-right: 0px;
}

.btnAdd,
.btnCancel,
.btn-edit,
.btnRedo,
.btnUndo {
  /*background: #A01517;
  border: 1px solid #A01517;
  border-radius: 3px;
  color: #DFDFDF;
  font-weight: bold;*/
  border: 1px solid #A01517;
}


.btnRedo[disabled=disabled],
.btnUndo[disabled=disabled] {
  background: #cfcfcf;
  border: 1px solid #fff;
  color: #999;
}

#addressTolatlon {
  background: #dfdfdf;
  padding-top: 5px;
  padding-bottom: 5px;
  /*display:none;*/
  border-bottom: 2px solid #bbb;
}

#addressTolatlon.disabled{

  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

#addStopTime {
  background: #dfdfdf;
  padding-top: 5px;
  padding-bottom: 5px;
  display:none;
  border-bottom: 2px solid #bbb;

  /* for fixing untargettable stop rows */
  position: relative;
  z-index: 9999;
}

#addStopTime .start_time_col,
#addStopTime .end_time_col{
  /*background: #dfdfdf;*/
}


.cancel_add_stop .button,
.add_stop_time_button .button {
  margin: 5px !important;
  float: center;
}

.add_stop_dialog {
  font-size: 15px;
}

#new_stop_map{
  padding-bottom:15px;
  height:300px;
}
#new_stop_map img { max-width: none; }

/***************************************************/
.question_group {
  /*border: 1px solid red;*/
}

.question_group input {
  border: 1px solid #aaa;
}

.before_section,
.after_section {
  font-size: 12px;

}

.sub_0 {
}

.sub_1 {
  margin-left: 10px;
}

.sub_2 {
  margin-left: 20px;
}

.question_group {
  margin-top: 15px;
}



.optionTable tr {
  margin-bottom: 1.1em;
  border-bottom: 1px solid #e9e9e9;
}
.optionTable .subnumber {
  font-weight: bold;
}


.radio_block {
  float: left;
}

.radio_block input{
  display: inline;
}

.meta_warn {
  margin-left: 10px;
  font-weight: normal;
  color: #A22;
  font-style: italic;
}

.placeholder {
  color: #aaa;
 }


/*------------------------------------------------------------------------------------------
+ Helpcenter Booking System Stylesheet
------------------------------------------------------------------------------------------*/
#calendar_holder {
  font-size: 1.2em !important;
  margin-top: 0px;
}

#calendar_holder h2 {
  font-size: 18px;
  text-align: left;
}

#calendar_holder #table_wrapper {
  /*margin-left: auto;
  margin-right: auto;*/
  margin-top: 10px;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#table_wrapper {
  display: inline-block;
}

#calendar_holder table{
  margin: 0 auto !important;
}

#calendar_holder table thead tr {
  border-bottom: 1px solid #f6f6f6 !important;
}

#calendar_holder table tr td:first-child,
#calendar_holder table tr th:first-child {
  border-right: 1px solid #f6f6f6 !important;
}

#calendar_holder table td,
#calendar_holder table th {
  padding: 2px;
}

#calendar_holder table th {
  padding: 5px;
}

#calendar_holder td.timeslot {
  padding: 0;
}


#calendar_holder td.timeslot span {
  display: block;
  border: 1px solid #ccc;
  margin: 1px;
  border-radius: 3px;
  text-align: center;
  line-height: 20px
}

#calendar_holder td.timeslot:hover.slot_status_available span{
  background: #7FB300 !important;

  cursor: pointer;
}

#calendar_holder td.timeslot.slot_status_available span{
  /*background: #C3D8A1;*/
  border: 1px solid #7FB300;

  color: #333;
}

#calendar_holder td.timeslot.slot_status_notavailable span {
  background: #fdfdfd;
  border: 0px;
  color: #ccc;
}

#calendar_holder td.timeslot.slot_reserved span {
  border: 1px solid #880B0E;
  color: #880B0E;
  font-weight: bold
}

#calendar_holder td.timeslot:hover.slot_reserved span {
  background: #880B0E !important;
  color: #f4f4f4;
  cursor: pointer;
}

/*------- Booking Confirmation Window  ********************/

#bookingConfirmation,
#bookingCancel {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;

  /*background: url('alpha.png') top left;*/
}

#bookingConfirmation h3 {
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
}

.confirmationDialog {
  position: fixed;
  background: #f4f4f4;
  width: 400px;
  height: 310px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -159px;
  margin-left: -256px;
  padding: 15px;
  font-size: 1.3em;
}

#bookingCancel .confirmationDialog {
  width: 320px;
  height: 128px;
}

#bookingConfirmation .extra_info_fields{
  margin-top: 10px;
}

#bookingConfirmation .extra_info_fields div.label{
  font-size: 1em;
  margin-top: 5px;
}

#bookingConfirmation .extra_info_fields textarea {
  width: 80%;
  height: 60px;
}

#bookingConfirmation .dateinfo {
  text-align: center;
  margin-top: 5px;
  font-size: 16px
}

#bookingConfirmation .date,
#bookingConfirmation .starttime {
  font-weight: bold;
}

.help_hint {
  border-radius: 3px;
  color: #fff;
  background: #7FB300;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: -50px;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, arial, sans-serif;
  font-size: 0.8em;
  display: inline;
}

.help_hint:hover {
  cursor: pointer;
}

#bookingConfirmation input.error,
#bookingConfirmation textarea.error {
  border: 4px solid red;
}

#bookingConfirmation .error-label {
  font-size: 0.9em;
  color: red;
  font-style: italic;
}


#contact_number_hint {
  position: absolute;
  color: #fff;
  background: #7FB300;
  margin-left: 130px;
  width: 230px;
  margin-top: -18px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 10px #aaa;
  font-weight: normal;
  font-size: 1.1em;
}

#bookingCancel .confirmationDialog {
  width: 260px;
  margin-left: -130px;
}

#bookingCancel p {
  font-size: 17px;
}

#confirmationDialog .date,
#confirmationDialog .starttime,
#confirmationDialog .endtime {
  font-style: italic;
}

.yes_button {
  background-color: #7FB300 !important;
}

.yes_button:hover {
  background-color: #92CD02 !important;
}

/*****************************
Helpcenter client side
*/


#helpbutton {
  border:1px solid #FF7D27;
  border-bottom: 4px solid #F07624;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);*/
  font-weight:bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #F07624;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F07624), color-stop(100%, #ED4B1B));
  background-image: -webkit-linear-gradient(top, #F07624, #ED4B1B);
  background-image: -moz-linear-gradient(top, #F07624, #ED4B1B);
  background-image: -ms-linear-gradient(top, #F07624, #ED4B1B);
  background-image: -o-linear-gradient(top, #F07624, #ED4B1B);
  background-image: linear-gradient(top, #F07624, #ED4B1B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F07624, endColorstr=#ED4B1B);
  display:inline-block;
  color:#ffffff;
  padding:5px 24px;
  text-decoration:none;


  -moz-transform: rotate(270deg);  /* FF3.5+ */
  -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */

  font-size: 15px;
  line-height: 16px;
  z-index: 2147483643;
  position: fixed;
  top: 25%;
  left: -60px;
  cursor: pointer;
  text-shadow:1px 0px 4px #b23e35;

  text-transform: capitalize;
}

#helpbutton:hover{
  left: -57px;
}


#helpbutton a,
#helpbutton a:link,
#helpbutton a:active,
#helpbutton a:visited {
  color: #fff;
  text-decoration: none;
  border: 0px;
}

#helpbutton a:hover {
  text-decoration: none;
  border: 0px;
}

.feedbackDialog,
.fmDialog {
  position: fixed;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
  /*border-top: 3px solid #fff;*/
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -152px;
  margin-left: -250px;
  padding: 22px;
  font-size: 1.4em;
  z-index: 100000
}

.fmDialog p{
  font-family: Verdana, Arial, sans-serif;
}

.feedbackDialog {
  width: 427px;
  height: 215px;
}

.feedbackDialog .slot
{
  float: left;
  width: 46%;

  margin-right: 10px;
}

.feedbackDialog .xClose {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 3px;
  border: 2px solid #333;
  background: #f4f4f4;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, sans-serif;

  font-smooth:always;
  -webkit-font-smoothing: antialiased;

  cursor: pointer;
}

.feedbackDialog .xClose:hover{
  background: #333;
  color: #f4f4f4;
}

.feedbackDialog h3{
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
}

.feedbackDialog p {
  font-size: 14px;
}

.feedbackDialog .button_start_chat,
.feedbackDialog .button_schedule,
.feedbackDialog .button_reschedule {

  background-color: #88C121;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #72A11B), color-stop(100%, #88C121));
  background-image: -webkit-linear-gradient(top, #72A11B, #88C121);
  background-image: -moz-linear-gradient(top, #72A11B, #88C121);
  background-image: -ms-linear-gradient(top, #72A11B, #88C121);
  background-image: -o-linear-gradient(top, #72A11B, #88C121);
  background-image: linear-gradient(top, #72A11B, #88C121);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#72A11B, endColorstr=#88C121);
  border: 1px solid #88C121;
  border-bottom: 3px solid #72A11B;

  padding: 5px 10px 3px 10px;
  color: #fff;
  clear: both;
  display: block;
  text-align: center;

  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}


.feedbackDialog .sessionStatus {
  margin-top: 15px;
  border-top: 1px dotted #ccc;
  padding-top: 15px;
}

.feedbackDialog .sessionStatus .date,
.feedbackDialog .sessionStatus .time {
  font-weight: bold;
  font-style: italic;
}

.feedbackDialog.sessionStatus p {
  text-align: center !important;
}

.fmDialog .title {
  margin-top: -21px;
  font-weight: normal;
  font-size: 1.1em;
  background: #606063;
  margin: -22px;
  margin-bottom: 5px;
  padding: 3px 5px;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

.fmDialog .dialog_control {
  text-align: right;
  margin-top: 10px;
}

.fmDialog .dialog_control .yes {
  margin-right: 5px;
}

#supportScreen {
  position: fixed;
  background: #f4f4f4;
  width: 427px;
  height: 215px;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -152px;
  margin-left: -250px;
  padding: 22px;
  font-size: 1.4em;
  z-index: 100000
}

#supportScreen .slot
{
  float: left;
  width: 46%;

  margin-right: 10px;
}

#onlineHelp {
  border-right: 1px solid #ccc;
  padding-right: 10px
}

.fmDialog {
  position: absolute !important;
  top: 66% !important;
  left: 64% !important;
}


.shadow {
  -moz-box-shadow: 0px 3px 10px #333;
  -webkit-box-shadow: 0px 3px 10px #333;
  box-shadow: 0px 3px 10px #333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#supportScreen h3{
  margin-bottom: 8px;
  text-align: left;
  font-size: 18px;
}

#supportScreen p {
  font-size: 14px;
}

#supportScreen .xClose {
  position: absolute;
  top: -13px;
  right: -13px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 3px;
  border: 2px solid #333;
  background: #f4f4f4;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, sans-serif;

  font-smooth:always;
  -webkit-font-smoothing: antialiased;

  cursor: pointer;
}

#supportScreen .xClose:hover{
  background: #333;
  color: #f4f4f4;
}


#supportScreen .button_start_chat,
#supportScreen .button_schedule,
#supportScreen .button_reschedule {

  background-color: #88C121;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #72A11B), color-stop(100%, #88C121));
  background-image: -webkit-linear-gradient(top, #72A11B, #88C121);
  background-image: -moz-linear-gradient(top, #72A11B, #88C121);
  background-image: -ms-linear-gradient(top, #72A11B, #88C121);
  background-image: -o-linear-gradient(top, #72A11B, #88C121);
  background-image: linear-gradient(top, #72A11B, #88C121);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#72A11B, endColorstr=#88C121);
  border: 1px solid #88C121;
  border-bottom: 3px solid #72A11B;

  padding: 5px 10px 3px 10px;
  color: #fff;
  clear: both;
  display: block;
  text-align: center;

  font-family: Verdana, sans-serif;
  font-weight: bold;
  margin-top: 10px;
}


#supportScreen .sessionStatus {
  margin-top: 15px;
  border-top: 1px dotted #ccc;
  padding-top: 15px;
}

#supportScreen .sessionStatus .date,
#supportScreen .sessionStatus .time {
  font-weight: bold;
  font-style: italic;
}

#supportScreen .sessionStatus p {
  text-align: center !important;
}


/****************************************************************/

.stop_form, .travel_form {
  margin-top: 0;
}
.stop_form .AccordionTitle {
  background: #E7E8E8;
}

.AccordionTitle table,
.AccordionTitle > div:first-child {
  margin-left: 0;
}

.AccordionTitle .timetable {
  width: 100%;
}

.AccordionTitle .timetable2 {
  /*padding-left: 20px;*/
}

.stop_mode.timetable2 {
  padding: 10px 10px 10px 10px;
}

.timetable2 {
  white-space: nowrap;
}

.AccordionTitle .duration {
  /*padding-left: 5px;*/
  /*font-weight: bold;*/
  /*padding-top: 10px;*/
  color: #696969;
}


.AccordionContent .line3 {
  border-top-color: #000;
}
.AccordionContent > div:first-child {
  margin-left: 0;
}
.validated-info {
  display:inline-block;
  zoom: 1;
  *display: inline; /* ie-7 courtesy*/
  width: 32px;
  height: 32px;
  *float: left;
}

.stop_mode {
  margin-top: 0;
  word-wrap:break-word;
}

.sprite_activity img {
  max-height: none;
}

.btn {
  padding: 5px 5px;
  height: 33px;
  display: inline-block;
  *display: inline;
  line-height: 23px;
  background: #A01517;
  color: #fff !important;
  border: 0px;
  cursor:default !important;
  /*margin-left: 10px;*/
  /*margin-top: 5px;*/
}

.btn:visited {
  text-decoration: none;
  font-color: #000;
}

input.btn{
  float:right;
  display:inline-block;
  width:auto;
  height:auto;
/*  margin-top:15px;
  margin-left:5px;
  margin-right:15px;*/
  text-align:center;
  text-decoration:none;
  font-size:12px;
  /*border-radius: 1px 1px 1px 1px;*/
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-top-width: 0px;
  cursor: pointer;
}

.btn-edit, .btn-add, .setMarkerButton {
  float: right;
}
.btn.setMarkerButton{
  background-color: #748F3D;
}

a.btn,
a.btn:link,
a.btn:active {
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  border: 0px;
  background: #444447;
  cursor: pointer;
  color: white;
}

a.btn.on {
  background: #333;
}

.btn.disabled:hover,
.btn.on.disabled,
.btn.disabled {
  background: #f0f0f0;
  border: 0px;
  color: #fff;
  cursor: default;
}

.btn.btn-showtraces {
  margin-top: 10px;
  float:right;
}

.btn.save_button {
  float: right;
  background-color: #748F3D;
}

.btn.save_button:hover {
  background-color: #5B7131;
}
.btn.save_button:active {
  background-color: #455625;
}


#datepicker {
  background: #fdfdfd url('/assets/smart/calendar-icon.png') no-repeat 98% center;
  border: 1px solid #596D60;
  padding: 5px;
}

#datepicker:hover {
  cursor:pointer;
  background-color: #f5f5f6 !important;
  border:1px solid #495D50 !important;
}

#AccordionContainer,
#AccordionContainer p {
  font-family:Verdana, Geneva, Arial, sans-serif;
}

table.activities {
  margin-left:0;
}

#tt {position:absolute; display:block;}
#tttop {display:block; height:5px; margin-left:5px;  overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF; border-radius: 5px;}
#ttbot {display:block; height:5px; margin-left:5px; overflow:hidden}


.not_good_day_notice {
  margin-top: -52px;
}
.not_good_day_notice p {
  text-align: center;
  font-family:Verdana, Geneva, Arial, sans-serif;
}

.notice_end {
  background-color: #A01517;
  color: white;
  text-align: center;
}

.presurvey.prefix_1,
.presurvey .prefix_1 {
  padding-left: 20px;
}

a.button.deactivated {
  pointer-events: none;
  cursor: default;
  background: #ccc;
}

.group_first_question {
  clear: both;
}

/*
  Icons for markers.
*/
.sprite {
  background-image: asset_url('maas/sprites/markers.png');
  background-repeat: no-repeat;
  display: block;
  margin-top: 4px !important;
  margin-left: -3px !important;
}

/* ACTIVITIES */
.sprite-activity-change_mode {
    width: 36px;
    height: 36px;
    background-position: -5px -5px;
}

.sprite-activity-change_mode-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -5px;
}

.sprite-activity-default {
    width: 36px;
    height: 36px;
    background-position: -97px -5px;
}

.sprite-activity-default-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -5px;
}

.sprite-activity-restaurant {
    width: 36px;
    height: 36px;
    background-position: -189px -5px;
}

.sprite-activity-restaurant-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -5px;
}

/* aka meal-break */
.sprite-activity-dining {
    width: 36px;
    height: 36px;
    background-position: -189px -378px;
}

.sprite-activity-dining-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -378px;
    /*background-position: -96px -422px;*/
}

.sprite-activity-dropoff {
    width: 36px;
    height: 36px;
    background-position: -281px -5px;
}

.sprite-activity-dropoff-checked {
    width: 36px;
    height: 36px;
    background-position: -5px -51px;
}

.sprite-activity-entertainement {
    width: 36px;
    height: 36px;
    background-position: -51px -51px;
}

.sprite-activity-entertainement-checked {
    width: 36px;
    height: 36px;
    background-position: -97px -51px;
}

.sprite-activity-cinema {
    width: 36px;
    height: 36px;
    background-position: -97px -378px;
}

.sprite-activity-cinema-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -378px;
}

.sprite-activity-other_shopping {
    width: 36px;
    height: 36px;
    background-position: -281px -378px;
}

.sprite-activity-other_shopping-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -378px;
}

.sprite-activity-bar_pub {
    width: 36px;
    height: 36px;
    background-position: -5px -425px;
}

.sprite-activity-bar_pub-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -425px;
}

.sprite-activity-home {
    width: 36px;
    height: 36px;
    background-position: -143px -51px;
}

.sprite-activity-home-checked {
    width: 36px;
    height: 36px;
    background-position: -189px -51px;
}

.sprite-activity-medical {
    width: 36px;
    height: 36px;
    background-position: -235px -51px;
}

.sprite-activity-medical-checked {
    width: 36px;
    height: 36px;
    background-position: -281px -51px;
}

.sprite-activity-other {
    width: 36px;
    height: 36px;
    background-position: -5px -97px;
}

.sprite-activity-other-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -97px;
}

.sprite-activity-otherhome {
    width: 36px;
    height: 36px;
    background-position: -97px -97px;
}

.sprite-activity-otherhome-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -97px;
}

.sprite-activity-personal {
    width: 36px;
    height: 36px;
    background-position: -189px -97px;
}

.sprite-activity-personal-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -97px;
}

.sprite-activity-recreation {
    width: 36px;
    height: 36px;
    background-position: -281px -97px;
}

.sprite-activity-recreation-checked {
    width: 36px;
    height: 36px;
    background-position: -5px -143px;
}

.sprite-activity-school {
    width: 36px;
    height: 36px;
    background-position: -51px -143px;
}

.sprite-activity-school-checked {
    width: 36px;
    height: 36px;
    background-position: -97px -143px;
}

.sprite-activity-shopping {
    width: 36px;
    height: 36px;
    background-position: -143px -143px;
}

.sprite-activity-shopping-checked {
    width: 36px;
    height: 36px;
    background-position: -189px -143px;
}

.sprite-activity-grocery_shopping {
    width: 36px;
    height: 36px;
    background-position: -143px -143px;
}

.sprite-activity-grocery_shopping-checked {
    width: 36px;
    height: 36px;
    background-position: -189px -143px;
}

.sprite-activity-socializing {
    width: 36px;
    height: 36px;
    background-position: -235px -143px;
}

.sprite-activity-socializing-checked {
    width: 36px;
    height: 36px;
    background-position: -281px -143px;
}

.sprite-activity-sport {
    width: 36px;
    height: 36px;
    background-position: -5px -189px;
}

.sprite-activity-sport-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -189px;
}

.sprite-activity-toaccompany {
    width: 36px;
    height: 36px;
    background-position: -97px -189px;
}

.sprite-activity-toaccompany-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -189px;
}

.sprite-activity-work {
    width: 36px;
    height: 36px;
    background-position: -189px -189px;
}

.sprite-activity-work-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -189px;
}

.sprite-activity-work_related {
    width: 36px;
    height: 36px;
    background-position: -281px -189px;
}

.sprite-activity-work_related-checked {
    width: 36px;
    height: 36px;
    background-position: -5px -235px;
}

/* MODES */
.sprite-mode-air {
    width: 36px;
    height: 36px;
    background-position: -51px -235px;
}

.sprite-mode-air-checked {
    width: 36px;
    height: 36px;
    background-position: -97px -235px;
}

.sprite-mode-bike {
    width: 36px;
    height: 36px;
    background-position: -143px -235px;
}

.sprite-mode-bike-checked {
    width: 36px;
    height: 36px;
    background-position: -189px -235px;
}

/*.sprite-mode-bike_share {
    width: 36px;
    height: 36px;
    background-position: -143px -235px;
}

.sprite-mode-bike_share-checked {
    width: 36px;
    height: 36px;
    background-position: -189px -235px;
}*/

.sprite-mode-bike_share {
    width: 36px;
    height: 36px;
    background-position: -5px -330px;
}

.sprite-mode-bike_share-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -330px;
}

.sprite-mode-bus {
    width: 36px;
    height: 36px;
    background-position: -235px -235px;
}

.sprite-mode-bus-checked {
    width: 36px;
    height: 36px;
    background-position: -281px -235px;
}

/*.sprite-mode-bus {
    width: 36px;
    height: 36px;
    background-position: -281px -330px;
}

.sprite-mode-bus-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -330px;
}*/

.sprite-mode-car {
    width: 36px;
    height: 36px;
    background-position: -5px -281px;
}

.sprite-mode-car-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -281px;
}

/*.sprite-mode-car_club {
    width: 36px;
    height: 36px;
    background-position: -5px -281px;
}

.sprite-mode-car_club-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -281px;
}*/

.sprite-mode-car_club {
    width: 36px;
    height: 36px;
    background-position: -97px -330px;
}

.sprite-mode-car_club-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -330px;
}

.sprite-mode-private_vehicle {
    width: 36px;
    height: 36px;
    background-position: -5px -281px;
}

.sprite-mode-private_vehicle-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -281px;
}

.sprite-mode-default {
    width: 36px;
    height: 36px;
    background-position: -97px -281px;
}

.sprite-mode-default-checked {
    width: 36px;
    height: 36px;
    background-position: -143px -281px;
}

.sprite-mode-foot {
    width: 36px;
    height: 36px;
    background-position: -189px -281px;
}

.sprite-mode-foot-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -281px;
}

.sprite-mode-moto {
    width: 36px;
    height: 36px;
    background-position: -281px -281px;
}

.sprite-mode-moto-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -5px;
}

.sprite-mode-mrt {
    width: 36px;
    height: 36px;
    background-position: -327px -51px;
}

.sprite-mode-mrt-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -97px;
}

/*.sprite-mode-tube {
    width: 36px;
    height: 36px;
    background-position: -327px -51px;
}

.sprite-mode-tube-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -97px;
}*/

.sprite-mode-tube {
    width: 36px;
    height: 36px;
    background-position: -5px -378px;
}

.sprite-mode-tube-checked {
    width: 36px;
    height: 36px;
    background-position: -51px -378px;
}

/*.sprite-mode-national_rail {
    width: 36px;
    height: 36px;
    background-position: -327px -51px;
}

.sprite-mode-national_rail-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -97px;
}*/

.sprite-mode-national_rail {
    width: 36px;
    height: 36px;
    background-position: -189px -330px;
}

.sprite-mode-national_rail-checked {
    width: 36px;
    height: 36px;
    background-position: -235px -330px;
}

.sprite-mode-other {
    width: 36px;
    height: 36px;
    background-position: -327px -143px;
}

.sprite-mode-other-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -189px;
}

.sprite-mode-taxi {
    width: 36px;
    height: 36px;
    background-position: -327px -235px;
}

.sprite-mode-taxi-checked {
    width: 36px;
    height: 36px;
    background-position: -327px -281px;
}

/*
  Icons for activity/mode details.
*/
/* ACTIVITIES */
.sm_sprite {
  background-image: asset_url('maas/sprites/modes_activities.png');
  background-repeat: no-repeat;
  display: block;
}

.sm_sprite-activity-change_mode {
  width: 21px;
  height: 25px;
  background-position: -5px -5px;
}

.sm_sprite-activity-change_mode-selected {
  width: 21px;
  height: 25px;
  background-position: -36px -5px;
}

/*.sm_sprite-activity-dining {
    width: 21px;
    height: 25px;
    background-position: -67px -5px;
}

.sm_sprite-activity-dining-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -5px;
}*/

/* aka meal-break */
.sm_sprite-activity-dining {
    width: 21px;
    height: 25px;
    background-position: -67px -287px;
}

.sm_sprite-activity-dining-selected {
    width: 21px;
    height: 25px;
    background-position: -99px -287px;
}

/*.sm_sprite-activity-bar-pub-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -5px;
}

.sm_sprite-activity-bar-pub {
    width: 21px;
    height: 25px;
    background-position: -67px -5px;
}*/

.sm_sprite-activity-bar_pub {
    width: 21px;
    height: 25px;
    background-position: -191px -287px;
}

.sm_sprite-activity-bar_pub-selected {
    width: 21px;
    height: 25px;
    background-position: -222px -287px;
}

.sm_sprite-activity-restaurant {
    width: 21px;
    height: 25px;
    background-position: -67px -5px;
}

.sm_sprite-activity-restaurant-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -5px;
}

.sm_sprite-activity-dropoff {
    width: 21px;
    height: 25px;
    background-position: -129px -5px;
}

.sm_sprite-activity-dropoff-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -5px;
}

.sm_sprite-activity-entertainement {
    width: 21px;
    height: 25px;
    background-position: -191px -5px;
}

.sm_sprite-activity-entertainement-selected {
    width: 21px;
    height: 25px;
    background-position: -5px -40px;
}

/*.sm_sprite-activity-cinema {
    width: 21px;
    height: 25px;
    background-position: -191px -5px;
}

.sm_sprite-activity-cinema-selected {
    width: 21px;
    height: 25px;
    background-position: -5px -40px;
}*/

.sm_sprite-activity-cinema {
    width: 21px;
    height: 25px;
    background-position: -5px -287px;
}

.sm_sprite-activity-cinema-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -287px;
}

.sm_sprite-activity-arts {
    width: 21px;
    height: 25px;
    background-position: -191px -5px;
}

.sm_sprite-activity-arts-selected {
    width: 21px;
    height: 25px;
    background-position: -5px -40px;
}

.sm_sprite-activity-home {
    width: 21px;
    height: 25px;
    background-position: -36px -40px;
}

.sm_sprite-activity-home-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -40px;
}

.sm_sprite-activity-medical {
    width: 21px;
    height: 25px;
    background-position: -98px -40px;
}

.sm_sprite-activity-medical-selected {
    width: 21px;
    height: 25px;
    background-position: -129px -40px;
}

.sm_sprite-activity-other {
    width: 21px;
    height: 25px;
    background-position: -160px -40px;
}

.sm_sprite-activity-other-selected {
    width: 21px;
    height: 25px;
    background-position: -191px -40px;
}

.sm_sprite-activity-otherhome {
    width: 21px;
    height: 25px;
    background-position: -5px -75px;
}

.sm_sprite-activity-otherhome-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -75px;
}

.sm_sprite-activity-personal {
    width: 21px;
    height: 25px;
    background-position: -67px -75px;
}

.sm_sprite-activity-personal-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -75px;
}

.sm_sprite-activity-recreation {
    width: 21px;
    height: 25px;
    background-position: -129px -75px;
}

.sm_sprite-activity-recreation-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -75px;
}

.sm_sprite-activity-school {
    width: 21px;
    height: 25px;
    background-position: -191px -75px;
}

.sm_sprite-activity-school-selected {
    width: 21px;
    height: 25px;
    background-position: -5px -110px;
}

.sm_sprite-activity-shopping {
    width: 21px;
    height: 25px;
    background-position: -36px -110px;
}

.sm_sprite-activity-shopping-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -110px;
}

.sm_sprite-activity-grocery_shopping {
    width: 21px;
    height: 25px;
    background-position: -36px -110px;
}

.sm_sprite-activity-grocery_shopping-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -110px;
}

/*.sm_sprite-activity-other-shopping {
    width: 21px;
    height: 25px;
    background-position: -36px -110px;
}

.sm_sprite-activity-other-shopping-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -110px;
}*/

.sm_sprite-activity-other_shopping {
    width: 21px;
    height: 25px;
    background-position: -129px -287px;
}

.sm_sprite-activity-other_shopping-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -287px;
}

.sm_sprite-activity-grocery_shopping {
    width: 21px;
    height: 25px;
    background-position: -36px -110px;
}

.sm_sprite-activity-grocery_shopping-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -110px;
}

.sm_sprite-activity-socializing {
    width: 21px;
    height: 25px;
    background-position: -98px -110px;
}

.sm_sprite-activity-socializing-selected {
    width: 21px;
    height: 25px;
    background-position: -129px -110px;
}

.sm_sprite-activity-sport {
    width: 21px;
    height: 25px;
    background-position: -160px -110px;
}

.sm_sprite-activity-sport-selected {
    width: 21px;
    height: 25px;
    background-position: -191px -110px;
}

.sm_sprite-activity-toaccompany {
    width: 21px;
    height: 25px;
    background-position: -5px -145px;
}

.sm_sprite-activity-toaccompany-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -145px;
}

.sm_sprite-activity-work {
    width: 21px;
    height: 25px;
    background-position: -67px -145px;
}

.sm_sprite-activity-work-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -145px;
}

.sm_sprite-activity-work_related {
    width: 21px;
    height: 25px;
    background-position: -129px -145px;
}

.sm_sprite-activity-work_related-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -145px;
}


/* MODES */
.sm_sprite-mode-air {
    width: 21px;
    height: 25px;
    background-position: -191px -145px;
}

.sm_sprite-mode-air-selected {
    width: 21px;
    height: 25px;
    background-position: -5px -180px;
}

.sm_sprite-mode-bike {
    width: 21px;
    height: 25px;
    background-position: -36px -180px;
}

.sm_sprite-mode-bike-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -180px;
}

/*.sm_sprite-mode-bike_share {
    width: 21px;
    height: 25px;
    background-position: -36px -180px;
}

.sm_sprite-mode-bike_share-selected {
    width: 21px;
    height: 25px;
    background-position: -67px -180px;
}*/

.sm_sprite-mode-bike_share {
  width: 21px;
  height: 25px;
  background-position: -191px -215px ;
}

.sm_sprite-mode-bike_share-selected {
  width: 21px;
  height: 25px;
  background-position: -222px -215px ;
}

.sm_sprite-mode-bus {
    width: 21px;
    height: 25px;
    background-position: -98px -180px;
}

.sm_sprite-mode-bus-selected {
    width: 21px;
    height: 25px;
    background-position: -129px -180px;
}

/*.sm_sprite-mode-bus {
    width: 21px;
    height: 25px;
    background-position: -129px -250px;
}

.sm_sprite-mode-bus-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -250px;
}*/

.sm_sprite-mode-car {
    width: 21px;
    height: 25px;
    background-position: -160px -180px;
}

.sm_sprite-mode-car-selected {
    width: 21px;
    height: 25px;
    background-position: -191px -180px;
}

/*.sm_sprite-mode-car_club {
    width: 21px;
    height: 25px;
    background-position: -160px -180px;
}

.sm_sprite-mode-car_club-selected {
    width: 21px;
    height: 25px;
    background-position: -191px -180px;
}*/

.sm_sprite-mode-car_club {
    width: 21px;
    height: 25px;
    background-position: -5px -250px;
}

.sm_sprite-mode-car_club-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -250px;
}

.sm_sprite-mode-private_vehicle {
    width: 21px;
    height: 25px;
    background-position: -160px -180px;
}

.sm_sprite-mode-private_vehicle-selected {
    width: 21px;
    height: 25px;
    background-position: -191px -180px;
}

.sm_sprite-mode-default {
    width: 21px;
    height: 25px;
    background-position: -222px -5px;
}

.sm_sprite-mode-default-selected {
    width: 21px;
    height: 25px;
    background-position: -222px -40px;
}

.sm_sprite-mode-foot {
    width: 21px;
    height: 25px;
    background-position: -222px -75px;
}

.sm_sprite-mode-foot-selected {
    width: 21px;
    height: 25px;
    background-position: -222px -110px;
}

.sm_sprite-mode-moto {
    width: 21px;
    height: 25px;
    background-position: -222px -145px;
}

.sm_sprite-mode-moto-selected {
    width: 21px;
    height: 25px;
    background-position: -222px -180px;
}

.sm_sprite-mode-mrt {
    width: 21px;
    height: 25px;
    background-position: -5px -215px;
}

.sm_sprite-mode-mrt-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -215px;
}

/*.sm_sprite-mode-tube {
    width: 21px;
    height: 25px;
    background-position: -5px -215px;
}

.sm_sprite-mode-tube-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -215px;
}*/

.sm_sprite-mode-tube {
    width: 21px;
    height: 25px;
    background-position: -67px -250px;
}

.sm_sprite-mode-tube-selected {
    width: 21px;
    height: 25px;
    background-position: -99px -250px;
}

/*.sm_sprite-mode-national_rail {
    width: 21px;
    height: 25px;
    background-position: -5px -215px;
}

.sm_sprite-mode-national_rail-selected {
    width: 21px;
    height: 25px;
    background-position: -36px -215px;
}*/

.sm_sprite-mode-national_rail {
    width: 21px;
    height: 25px;
    background-position: -191px -250px;
}

.sm_sprite-mode-national_rail-selected {
    width: 21px;
    height: 25px;
    background-position: -222px -250px;
}

.sm_sprite-mode-other {
    width: 21px;
    height: 25px;
    background-position: -67px -215px;
}

.sm_sprite-mode-other-selected {
    width: 21px;
    height: 25px;
    background-position: -98px -215px;
}

.sm_sprite-mode-taxi {
    width: 21px;
    height: 25px;
    background-position: -129px -215px;
}

.sm_sprite-mode-taxi-selected {
    width: 21px;
    height: 25px;
    background-position: -160px -215px;
}

.screen-shot-intro {
  width: 800px;
}

select option:hover {
  background-color: #A01D21;
}
