Hello #{@content[:user]},

It seems that #{@content[:household_head]} has registered you with this email address to take part in the Future Mobility Survey being conducted by the Future Urban Mobility Group of the Singapore-MIT Alliance for Research and Technology (SMART-FM).

Your user name is: #{@content[:email]}
Please ask #{@content[:household_head]}, (the person who registered your household) for your password.

At this time you may also want to download and install the survey’s smartphone application. User manuals for both iPhone and Android smartphones are attached to this email.

If you have any difficulties with your registration and/or installation of the app, please feel free to contact us at
fmsurvey@smart.mit.edu.

Thank you for your participation!
The Future Mobility Survey team
