%p
  Hello #{@content[:user]},
Thank you for taking part in the Future Mobility Survey! At this point, you have been collecting data for #{@content[:num_days]} days, and have provided us with additional information about #{@content[:num_validated]} of them. Once you have collected data for 14 days and have provided us with additional information about five of them, we will contact you to finalize your incentive payment.
%p
  If you have any questions, comments or concerns, please don’t hesitate to contact us in any of the following ways:
%ul
  %li
    By responding to this email address,
  %li
    By emailing fmsurvey@smart.mit.edu,
  %li
    Through our #{link_to "contact page", "https://www.fmsurvey.sg/pages/contacts"}, or
  %li
    By phone at 6601-1547.
%p
  For answers to specific questions, please take a look at our #{link_to "FAQs", "https://www.fmsurvey.sg/pages/faqs"}.
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
