.form-check{style: 'text-align: right'}
  - label_translation = t("sp_experiment.labels.#{section}.questions.#{label_t}")
  = label_tag id, label_translation, class: 'form-check-label'
  = check_box_tag id, "1", false, class: 'form-check-input'