.grid_4= image_tag("smart/feedacksurvey_feedback1.png", :alt =>"feedback" )
.grid_3
  %p  
  %p.title_1
    Completed:
    %br/
    Phase 3 — Feedback Survey
  %p.content_1 You've now completed the FM Survey. Thank you for your participation!
  %p  
  %p.content_1
    If you wish to continue participating in the survey you are welcome to do so!
    Our website will remain open for additional participation.
    %br/
    %b Thank you!
.grid_4
  %p  
  %p.title_1 The survey with LTA Survey has come to an end.
  %p.content_1 We are no longer accepting claims for the participation incentives
/
  <div class="grid_4">
  
  <p>&nbsp; </p>
  <p class="title_1">Next phase:<br/> Receive your participation incentive </p>
  <p class="content_1">You are now eligible to receive your <br/>participation incentive.</p>
  
  <p>&nbsp; </p>
  <haml_silent>  form_tag({:controller =&gt; &quot;pages&quot;, :action =&gt; &quot;claim_incentive&quot;}, :class =&gt; &quot;form&quot;) do
  </haml_silent><haml_block>    <p class="content_1"> Name: <haml_loud> text_field_tag :name, &#39;&#39;, :size=&gt;&quot;20&quot; </haml_loud> </p>
  <p class="content_1">Address: <haml_loud> text_field_tag :address, &#39;&#39;, :size=&gt;&quot;20&quot; </haml_loud> </p>
  
  <haml_loud> submit_tag &#39;Claim Incentive&#39;, :class =&gt; &quot;bigbutton&quot; </haml_loud>
  </haml_block></div>
.clear
.grid_12
  .stripes
.clear
.grid_3
  %p.title_1 What it is all about?
  %p.content_1
    The Future Mobility Survey is a household travel survey sponsored by the
    %b Future Urban Mobility
    group in the Singapore-MIT Alliance for Research and Technology (
    %span.class2>
      %a{:href => "http://smart.mit.edu/"} SMART
    ).
.grid_3
  %p.title_1 How does it work?
  %p.content_1 The main idea is to use smartphones to collect data about the Singaporean residents and families. After the data is collect it should be validated in to the website.
.grid_3
  %p.title_1 Why should I participate?
  %p.content_1 Results from this survey will be used to find ways to enhance the Singaporean transportation network. With better data, we can make better decisions related to the planning and implementation of transportation projects that can shorten travel times, provide more efficient transfers and add to the quality of life in Singapore. Your participation ensures that your voice will be heard in this process.
.grid_3
  %p.title_1 What about my confidentiality?
  %p.content_1
    The Smartphone Travel Survey team
    %b respects your privacy
    and promises to protect it. For more information about the privacy policy,
    = succeed "." do
      %span.class1= link_to "click here", "/docs/Privacy_Policy_HMSurvey.pdf"
.grid_5.prefix_1
.clear
.clear
