.grid_4= image_tag("smart/activitydiary_feedback1.png", :alt =>"feedback" )
.grid_3
  %p  
  %p.title_1
    = I18n.t('feedback.activitydiary.completed')
  %p.content_1
    = I18n.t('feedback.activitydiary.description')
  %p  
  %p.content_1
    = I18n.t('feedback.activitydiary.continue')
.grid_4
  %p  
  %p.title_1
    Next phase:
    %br/
    Phase 3 — #{link_to "Feedback Survey", {:controller => "survey", :action => :feedback}}
  %p.content_1
    You’re now ready to move on to the
    %b final phase
    of the survey:
    = succeed "Phase" do
      %br/
    = link_to "Feedback Survey", {:controller => "survey", :action => :feedback}
    \.
    Here, we’ll ask for your opinions and thoughts on the survey as a whole in order to improve the survey’s look, feel, and use.
  = link_to ("Feedback Survey"), {:controller => "survey", :action => :feedback}, :class => 'button'
.clear
.grid_12
  .stripes
.clear
.grid_3
  %p.title_1 What it is all about?
  %p.content_1
    The Future Mobility Survey is a household travel survey sponsored by the
    %b Future Urban Mobility
    group in the Singapore-MIT Alliance for Research and Technology (
    %span.class2>
      %a{:href => "http://smart.mit.edu/"} SMART
    ).
.grid_3
  %p.title_1 How does it work?
  %p.content_1 The main idea is to use smartphones to collect data about the Singaporean residents and families. After the data is collect it should be validated in to the website.
.grid_3
  %p.title_1 Why should I participate?
  %p.content_1 Results from this survey will be used to find ways to enhance the Singaporean transportation network. With better data, we can make better decisions related to the planning and implementation of transportation projects that can shorten travel times, provide more efficient transfers and add to the quality of life in Singapore. Your participation ensures that your voice will be heard in this process.
.grid_3
  %p.title_1 What about my confidentiality?
  %p.content_1
    The Smartphone Travel Survey team
    %b respects your privacy
    and promises to protect it. For more information about the privacy policy,
    = succeed "." do
      %span.class1= link_to "click here", "/docs/Privacy_Policy_HMSurvey.pdf"
.grid_5.prefix_1
.clear
.clear
