.row
  .col-md-12.text-center
    %h4{:style => "font-family: Calibri;"} Thank you for taking our survey! These are the steps of the survey:
    / <haml_loud> image_tag(&quot;maas/overview-2.png&quot;, :alt =&gt;&quot;mobile&quot; ) </haml_loud>
    = image_tag("maas/overview-3.jpg", :alt =>"mobile", usemap: "#overview-map")
    %map{:name => "overview-map"}
      %area{:alt => "Pre-Survey", :coords => "50,30,250,230", :href => "/pre_questionnaire", :shape => "rect"}/
  .col-md-12.text-center
    = link_to "Start Step 1", pre_questionnaire_path, class: "btn btn-success"
