/*
*= require surveyor/reset
*= require surveyor/jquery-ui-1.10.0.custom
*= require surveyor/jquery-ui-timepicker-addon
*= require surveyor/ui.slider.extras
*= require surveyor/results
*= require surveyor/validations
*= require surveyor
*= require custom
*/

label.error {
  background-color: transparent !important;
  border: none !important;
}

#surveyor fieldset legend {
  background-color: transparent !important;
}

#surveyor legend {
  background-color: transparent !important;
}

#surveyor fieldset.q_dependent, #surveyor fieldset.g_dependent {
  background-color: transparent !important;
}